<h1 style="text-align:center">Club Esprit</h1>
<p style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et urna at leo interdum vulputate. Fusce vel neque et augue vestibulum suscipit. Mauris finibus auctor nisl, sed pulvinar augue luctus non. Proin id magna et leo sollicitudin placerat. Nam in lacus sem</p>
<img src="{{ asset('img/esprit.jpg') }}" alt="esprit" width="1300" height="500"  >

